body{
  height: 675px;
  margin: 0;
  background-color: #cccccc;
  background-image: linear-gradient(blue,rgb(94, 255, 0),purple);
 }
 #p1 {
    font-style: oblique;
    color:rgb(158, 235, 135)
 }

p{
    font-style: oblique;
    color:rgb(4, 247, 255)
}

.title_bar{
 background-image: url(space.png);
 background-size: 100%;
  margin:auto;
  padding: .5% 0;
  text-align: center;
  color: white;
  font-style: oblique;
}

h2{
  text-align: center;
  font-style: oblique;
  color: white;
}
 h3{
     font-style: oblique;
    color:white
 }
 ol{
     font-style: oblique;
    color:white
 }
 ul{
     font-style: oblique;
     color: white;
 }
 .topnav {
    overflow: hidden;
    background-color:blue;
  }
  .topnav a {
    display: block;
    float: left;
    color: #ffffff;
    font-style: oblique;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: rgba(168, 255, 6, 0.527);
    color: white;
    transition: .25s;
  }
  .topnav a.active {
    background-color: rgba(168, 255, 6, 0.527);
    color: white;
  }  