

/*styles my body tag */
body {
  height: 675px;
  margin: 0;
  background-color: #3C99DC;
  position: relative;
  height: 100vh;
  padding-bottom: 2.5rem;
 }
 /*styles my paragraph id*/
 #p1 {
    font-style: oblique;
    color:rgb(158, 235, 135)
 }
 /*stlyes all my images*/
 img{
  display: block;
  width:50%;
  min-width: 200px;
  border-radius: 8px;
  margin: auto;
  box-shadow: 0 0 12px 0 rgba(0, 0,0, .5) ;
 }

table {
  color: rgb(80, 167, 248);
}

p {
    font-size: 13pt;
    font-style: oblique;
    color:#D5F3FE;
}
/*  creats a div tag title bar and styles my titlebar*/
.title_bar {
 background-image: url(blue.png);
 background-size: 100%;
  margin:auto;
  padding: .25% 0;
  text-align: center;
  color: white;
  font-style: oblique;
}

h2 {
  text-align: center;
  font-style: oblique;
  color: white;
}
 h3 {
     font-style: oblique;
    color:white
 }
 ol { 
     font-style: oblique;
    color:white
 }
 ul {
     font-style: oblique;
     color: white;
 }
 /*  creats a div tag nav bar and styles my nav bar*/
 .topnav {
    overflow: hidden;
    background-color:#243b7e;
    box-shadow: 0 0 12px 0 rgba(0, 0,0, .5) ;
  }

  .topnav a {
    display: block;
    float: left;
    color: #ffffff;
    font-style: oblique;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: rgb(66, 66, 177);
    color: white;
    transition: .25s;
  }
  .topnav a.active {
    background-color: rgb(129, 129, 248);
    color: white;
  }  
  /* creates a div tag footer and styles footer*/
.footer {
 display: block;
 text-align: center;
 background-color: #0F5298;
 margin: auto;
 padding: 10px;


}
/* creates rows for columns*/
.row {
  display: flex;
}

.col40 {
  flex: 4;
  padding: 0 20px;
  margin:auto;
}
.col50 {
    flex: 5;
    padding: 0 20px;
    margin:auto;
 }
.col60 {
    flex: 6;
    padding: 0 20px;
    margin:auto;
 }
 .col100 {
    flex: 10;
     padding: 0 20px;
     margin:auto;
 }
 ul { 
  text-align: center;
  list-style-position: inside;
}
ol {
  text-align: center;
  list-style-position: inside;
}