body{
    height: 600px;
  background-color: #cccccc;
  background-image: linear-gradient(blue,rgb(94, 255, 0),rgba(140, 0, 255, 0.623));
 }
 #p1 {
    font-style: oblique;
    color:rgb(158, 235, 135)
 }

p{
    font-style: oblique;
    color:rgb(4, 247, 255)
}
 h1{
     font-style: oblique;
     color:white
 }
 h3{
     font-style: oblique;
    color:white
 }
 ol{
     font-style: oblique;
    color:white
 }
 ul{
     font-style: oblique;
     color: white;
 }
 .topnav {
    overflow: hidden;
    background-color:blue;
  }
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: rgb(180, 252, 46);
    color: rgb(0, 0, 0);
  }
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }  